.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.container-mobile {
    margin-top: 120px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

.buttons {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    background-color: #29434e;
}

.ticket {
    padding: 20px;
}
