.wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin: 12px 0px;
}

.buttons {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 95%;
}
