.board {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f4f4f4;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.boardNumber {
    display: flex;
    font-size: 42px;
    width: 74px;
    height: 74px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #c1d5e0;
    border-radius: 37px;
    margin: 8px;
    color: #000000;
    text-shadow: 2px 2px 3px rgba(47, 47, 47, 0.41);
    box-shadow: -4px 4px 10px -3px rgba(0,0,0,0.47);
}

.mobile {
    font-size: 26px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    margin: 4px;
}

.boardNumber.red {
    background-color: #ff6d00;
}

.boardNumber.green {
    background-color: #64dd17;
}
