.button {
    font-family: 'Lato', sans-serif;
    padding: 12px;
    border-radius: 8px;
    width: 20%;
    font-size: 28px;
    background-color: #c9c9c9;
    align-items: center;
    justify-content: center;
    text-align: center;
}
